<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="mainContent">
            {{>header}}
            <h2>{{aboutText}}</h2>
            <div> <img class='myPic' src="./img/pic.jpg" alt=""> </div>
            
        </div>
        {{>footer}}
    </body>
</html>