<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="mainContent">
            {{>header}}
            <h2>{{aboutText}}</h2>
            <p>This is a test site for leanring node fundamentals.</p>
            
        </div>
        {{>footer}}
    </body>
</html>