<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="" href="./img/ico.jpg">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="mainContent">
            {{>header}}
            <p> Temp content to be shown</p>

            <form>
                <input id="inputLocation" placeholder="Location">
                <button>Search</button>
            </form>
            <div>Location Name
            <p id="locationName"></p></div>
            <div>Temprature: 
            <p id="temprature"></p> </div> 
            <div>Feels Like: 
            <p id="feelslike"></p> </div>
            <div>Wind Speed: 
            <p id="wind_speed"></p> </div>
            <div>Cloud Cover: 
            <p id="cloudcover"></p> </div>
        </div>
       {{>footer}}
        <script src="/js/app.js"></script>
    </body>
    
</html>